{% extends 'main.html' %}
{% load static %}
{% block content1 %}

<center>
    <div  style="height: 655px; width: 45%; background-color: white;margin-top: 30px;padding: 20px;  ">
        <h2>REGISTRATION FORM</h2>
        <img src="{% static 'image/images.jpg'%}" alt="" style="float: right; position: absolute; width: 230px;height: 350px; margin-left: 110px; margin-top: 40px;">
        <form action="/teacher_update/{{ edit.id }}" method="post" style="margin-top: 10%;">
          {% csrf_token %}
            <div class="row mb-3">
                <label for="inputfn3" class="col-sm-2 col-form-label">FirstName</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="inputfn3" value="{{ edit.teacher_id.first_name }}" name="firstname" style="border: 4;">
                </div>
            </div>
            <div class="row mb-3">
                <label  class="col-sm-2 col-form-label">LastName</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" value="{{ edit.teacher_id.last_name }}" name="lastname" style="border: 4;">
                </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="inputEmail3" value="{{ edit.teacher_id.email }}" name="mail" style="border: 4;">
              </div>
            </div>
            <div class="row mb-3">
                <label  class="col-sm-2 col-form-label">UserName</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" value="{{ edit.teacher_id.username }}" name="username" style="border: 4;">
                </div>
            </div>
            
            <div class="row mb-3">
              <label  class="col-sm-2 col-form-label">Salary</label>
              <div class="col-sm-6">
                <input type="number" class="form-control" value="{{ edit.salary }}" name="salary" style="border: 4;">
              </div>
          </div>
          <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Experience</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" value="{{ edit.experience }}" name="experience" style="border: 4;">
            </div>
        </div>
            <div class="row mb-3">
                <label  class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" value="{{ edit.address }}" name="address" style="border: 4;">
                </div>
            </div>
            <div class="row mb-3">
                <label  class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-6">
                  <input type="number" class="form-control" value="{{ edit.phone }}" name="phone" style="border: 4;">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
    </div>
</center>

{% endblock content1 %}
